%% --------------------------
%% @copyright 2010 Kenneth Barber
%% @doc Default configuration for organic.logger release
%% 
%% @end
%% TODO: find a better place for this file to be located in the src repo
%% TODO: this configuration file format isn't great. Think of something better.
%% --------------------------
[{'organic.logger',[
{relp_port,2222},
{relp_login_timeout,120000},
{file_outputpath,"/tmp/log"},
{mongodb_output_collection,"log"}
]},
"olog"].
