%% --------------------------
%% @copyright 2010 Bob.sh Limited
%% @doc Default configuration for organic.logger release
%%
%% This file should not be modified on a production release, instead the
%% override file olog.config should be used.
%% 
%% @end
%% TODO: find a better place for this file to be located in the src repo
%% TODO: this configuration file format isn't great. Think of something better.
%% --------------------------
[{'organic.logger',[


%% RELP protocol listener port
{relp_port,2222},

%% Time in milliseconds before an unestablished RELP session is timed out and
%% destroyed.
{relp_login_timeout,120000},

%% Output file to log all received messages to
{file_outputpath,"/tmp/log"},

%% Mongodb collection to send received log messages to
{mongodb_output_collection,"log"},

%% Place to log ologd specific errors and messages
{ologd_log,"/tmp/ologd.log"},

%% How many tokenizer processes to start
{tokenizer_match_procs,3},


%% Preamble - DO NOT TOUCH
{zzz,dummy}
]},
%%
{'organic.event', [



%% Mongodb collection to send received log messages to
{mongodb_output_collection,"log"},

%% Place to log ologd specific errors and messages
{ologd_log,"/tmp/organic.event.log"},



%% Preamble - DO NOT TOUCH
{zzz,dummy}
%% END
]},
"olog"].
