%% --------------------------
%% @copyright 2010 Bob.sh Limited
%% @doc Default configuration for umberum.logger release
%%
%% This file should not be modified on a production release, instead the
%% override file olog.config should be used.
%% 
%% @end
%% TODO: find a better place for this file to be located in the src repo
%% TODO: this configuration file format isn't great. Think of something better.
%% --------------------------
[{'umberum.logger',[

%% Output file to log all received messages to
{file_outputpath,"/tmp/log"},

%% Mongodb collection to send received log messages to
{mongodb_output_collection,"log"},

%% Place to log ologd specific errors and messages
{log_file,"/tmp/umberum.logger.log"},
{log_debug,false},

%% How many tokenizer processes to start
{tokenizer_match_procs,3},


%% Preamble - DO NOT TOUCH
{zzz,dummy}
]},
%%
%%
%%
{'umberum.input.relp',[


%% RELP protocol listener port
{relp_port,2222},

%% Time in milliseconds before an unestablished RELP session is timed out and
%% destroyed.
{relp_login_timeout,120000},

%% Place to log ologd specific errors and messages
{log_file,"/tmp/umberum.input.relp.log"},
{log_debug,false},

%% Preamble - DO NOT TOUCH
{zzz,dummy}
]},
%%
%%
%%
{'umberum.event', [



%% Mongodb collection to send received log messages to
{mongodb_output_collection,"log"},

%% Place to log ologd specific errors and messages
{log_file,"/tmp/umberum.event.log"},
{log_debug,false},

%% Preamble - DO NOT TOUCH
{zzz,dummy}
%% END
]},
"umberum"].
